extends main

block header
	script(src='/socket.io/socket.io.js')
	script(src='/js/chat.js')
block content
	div(class='center-block', style='margin-top: 50px; width: 80%; height: 500px; text-align: center;')
		div(class='thumbnail', style='width: 70%; height: 400px; display: inline-block; vertical-align: top;')
			div(class='form-control', style='height: 100%; text-align: left; overflow: scroll;', id='content')
				
		div(class='thumbnail', style='width: 20%; height: 400px; display: inline-block; vertical-align: top;')
			div(class='form-control', style='height: 80%; overflow: scroll; text-align: left;', id="rooms")
			button(class='btn btn-info', style='height: 15%; margin-top: 10px; width: 100%;', onclick='javascript:Chat.addRoom()') Add room
		div(class='thumbnail', style='width: 90%; display: inline-block;')
			form(action='javascript:Chat.send({msg: $("#msg").val(), color: $("#color").val(), style: $("#style").val()}); $("#msg").val("");')
				input(id='msg', placeholder='Type your text', class='form-control', style='width: 66%; height: 80px; vertical-align: top; display: inline-block;')
				div(style='display: inline-block; width: 15%; height: 80px; vertical-align: top; margin: 0 10px;')
					select(id='color', class='form-control', style='width: 100px; height: 48%; display: inline-block;')
						option(value='black', style='color: black;') Black
						option(value='blue', style='color: blue;') Blue
						option(value='red', style='color: red;') Red
						option(value='green', style='color: green;') Green
					select(id='style', class='form-control', style='margin-top: 5px; width: 100px; height: 48%; display: inline-block;')
						option(value='normal', style='font-weight: normal!important;') Normal
						option(value='bold', style='font-weight: bold!important;') Bold
						option(value='initial', style='font-weight: initial!important;') Initial
				input(type='submit', class='btn btn-default', value='Send', style="width: 15%; height: 80px; vertical-align: top;")
	script $(document).ready(function(){Chat.init();});